## Pandas - DataFrames Part

In [1]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [2]:
#Index 
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
df = pd.DataFrame(randn(6,2),hier_index,['A','B'])

In [5]:
df

             A         B
G1 1  0.933992  0.330591
   2  1.052999  1.043222
   3  1.417945  2.004873
G2 1  0.823895 -1.014526
   2  1.172797 -0.991237
   3  0.231904 -1.446550

In [6]:
df.loc['G1'].loc[1]

A    0.933992
B    0.330591
Name: 1, dtype: float64

In [7]:
df.index.names = ['Groups','Num'] # giving indcies name

In [8]:
df

                   A         B
Groups Num
G1     1    0.933992  0.330591
       2    1.052999  1.043222
       3    1.417945  2.004873
G2     1    0.823895 -1.014526
       2    1.172797 -0.991237
       3    0.231904 -1.446550

In [11]:
df.loc['G2'].loc[2]['B']

-0.99123667329334

In [13]:
df.loc['G1'].loc[3]['A']

1.4179448501999183

In [16]:
#cross section
df.xs(1,level='Num')

               A         B
Groups
G1      0.933992  0.330591
G2      0.823895 -1.014526